/*   Primary  */

:root {
    --desaturated-red: hsl(0, 36%, 70%);
    --soft-red: hsl(0, 93%, 68%);
    --dark-grayish-red: hsl(0, 6%, 24%);
}


/*Linear, 135deg, from hsl(0, 0%, 100%), to hsl(0, 100%, 98%)*/
/*Linear, 135deg, from hsl(0, 80%, 86%), to hsl(0, 74%, 74%)*/