$primary-bright-red: hsl(12, 88%, 59%);
$primary-dark-blue: hsl(228, 39%, 23%);

$secondary-dark-grayish-blue: hsl(227, 12%, 61%);
$secondary-very-dark-blue: hsl(233, 12%, 13%);
$secondary-very-pale-red:  hsl(13, 100%, 96%);
$secondary-very-light-gray:  hsl(0, 0%, 98%);

$error-color: hsl(0,88%,59%)
