@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400&display=swap');
@import "variabls.css";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    font-family: 'Public Sans', sans-serif;
    font-size: 1.125rem;
    background-color: var(--very-light-gray);
}

h1,
h2,
h3 {
    color: var(--dark-blue);
}

p {
    color: var(--grayish-blue);
}

/* Navbar style */
header {
    background-color: var(--white);
    box-shadow: 0 3px 6px var(--light-grayish-blue);
}

header nav#main-nav {
    width: 78%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    position: relative;

}


header .btn-toggle {
    position: absolute;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    padding: 0.5rem;
    right: 0;
    display: none;
}



header nav#main-nav a {
    padding: 0.3rem;
}

#main-nav ul.navbar {
    list-style: none;
    display: flex;

}

#main-nav .navbar li {
    padding: 0 0.5rem;
}


#main-nav .navbar .nav-link {
    text-decoration: none;
    color: var(--grayish-blue);
    position: relative;
}

#main-nav .navbar .nav-link:after {
    content: '';
    position: absolute;
    height: 4px;
    width: 0;
    bottom: -1.37rem;
    left: 0;
    background-image: linear-gradient(to right, var(--lime-green), var(--bright-cyan));
    transition: width 350ms ease-in;
}

#main-nav .navbar a.nav-link:hover:after{
    width: 100%;
}

#main-nav ul.navbar.open {
    display: block;
    flex-direction: column;
    position: absolute;
    right: 0;
    width: 100%;
    top: 6rem;
    transition: all 300ms ease;
    box-shadow: 0 6px 30px 20px var(--dark-blue);
    border-radius: 0.5rem;
    padding: 0.5rem 0;
    z-index: 100;
    background-color: var(--white);
}

#main-nav .navbar.open li {
    text-align: center;
    padding: 0;
}

#main-nav .navbar.open .nav-link {
    background-color: var(--white);
    display: block;
    width: 100%;
    padding: 1rem;
    color: var(--dark-blue);
    transition: all 250ms ease-in;
}


#main-nav .navbar.open .nav-link:hover {
    background-color: var(--light-grayish-blue);
    border: 0;
    color: var(--lime-green);
}

.btn {
    padding: 0.75rem 1.75rem;
    border: none;
    border-radius: 2rem;
    cursor: pointer;
    font-size: 1rem;
}

.header-btn {
    background-image: linear-gradient(to right, var(--lime-green), var(--bright-cyan));
    opacity: 0.8;
    color: var(--white);
}



@keyframes pulse {
    0%{
        box-shadow:  0 0 12px var(--lime-green)
    }

    50% {
        box-shadow:  0 0 6px rgba(49, 211, 92, 0.6)
    }

    100%{
        box-shadow:  0 0 12px var(--lime-green)
    }
}

.header-btn:hover {
    opacity: 0.6;
    animation-name: pulse;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

/******   ShowCase style   ******/

.showCase {
    display: flex;
}

.rightSection {
    width: 55%;
    background-image: url("../images/bg-intro-desktop.svg");
    background-size: auto;
    background-position: -2rem -17rem;
    background-repeat: no-repeat;
}

.rightSection .imgWrapper {
    overflow: hidden;
}

.rightSection img {
    position: relative;
    top: -6.75rem;
    right: -8rem;
    width: available;
    width: -moz-available;
    z-index: 20;
}

.leftSection {
    width: 45%;
    padding-left: 11%;
}

.leftSection h1.leftSection-mainText {
    font-size: 2.875rem;
    font-weight: 400;
    margin-top: 11rem;
    margin-bottom: 1.8125rem;
}

.leftSection p.leftSection-subText {
    line-height: 1.8;
    margin-bottom: 2.5rem;
}

.leftSection .header-btn{
    opacity: 0.9;
}


/***** Why choose Easybank? section style ******/
.Why_Choose_EasyBank .innerSection,
.latestArticles {
    width: 85%;
    margin: 0 auto;
}

.Why_Choose_EasyBank {
    background-color: var(--light-grayish-blue);
    position: relative;
    margin-top: -16rem;
}

.innerSection {
    padding: 6.875rem 2.5rem;
}

.innerSection h2 {
    margin-bottom: 2.5rem;
}

.innerSection p {
    line-height: 1.8;
}

.innerSection p.description {
    width: 65%;
    margin-bottom: 5rem;
}

.gridContainer {
    display: grid;
    grid-gap: 40px 13px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.box h3 {
    margin-top: 2.8125rem;
    margin-bottom: 2.437rem;
}

.box p {
    font-size: 0.975rem;
}


/*Latest Articles section style*/

.gridContainer.articlesContainer {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 1.5em 1em;
}

.latestArticles {
    padding: 0 2.5rem 5rem;

}

.latestArticles h2 {
    margin: 6.25rem 0 3.6875rem;
}

.articleBox {
    background-color: var(--white);
    box-shadow: 0 3px 15px var(--light-grayish-blue);
    border-radius: 0.6rem;
}

.articleBox img {
    width: 100%;
    height: 200px;
    border-top-right-radius: 0.6rem;
    border-top-left-radius: 0.6rem;
}

.articleBox .innerDetails {
    padding: 1.75rem 1.125rem;
}


.innerDetails .articleAuthor {
    color: var(--grayish-blue);
    font-size: 0.679rem;
}

.innerDetails .articleTitle {
    color: var(--dark-blue);
    cursor: pointer;
    display: block;
    font-style: normal;
    margin: 1rem 0;
    font-size: 1.125rem;
    font-weight: 400;
}


.innerDetails p {
    font-size: 0.765rem;
    line-height: 1.5;
}

.articleTitle:hover,
.footer-nav ul .nav-link:hover
{
    color: #28c286;
}

/*Footer Section Style*/

footer.main-footer {
    background-color: var(--dark-blue);
    color: var(--white);
    position: relative;
}

.innerFooter .social-wrapper,
.innerFooter .innerFooter-left,
.innerFooter .innerFooter-right,
.main-footer .innerFooter,
.footer-nav ul{
    display: flex;
    justify-content: space-between;
}

.main-footer .innerFooter {
    width: 79%;
    margin: 0 auto;
    padding: 3.125rem 0;
}

.innerFooter .innerFooter-left {
    width: 55%;
}

.innerFooter .social-wrapper {
    display: flex;
    margin-top: 3.4375rem;
}

.social-wrapper img{
    cursor: pointer;
}


.innerFooter .innerFooter-right {
    flex-direction: column;
}

.innerFooter-right .copyright {
    color: var(--grayish-blue);
}

.footer-nav {
    height: 100%;
}

.footer-nav ul {
    list-style: none;
    height: 100%;
    flex-direction: column;

}

.footer-nav ul .nav-link {
    text-decoration: none;
    color: var(--white);
}

.innerFooter-right .header-btn {
    width: 80%;
    margin-left: auto;
    opacity: 1;
}

.attribution {
    position: absolute;
    bottom: 0.5rem;
    color: var(--grayish-blue);
}



/****** Media query ******/


@media (max-width: 992px) {
    .showCase {
        height: unset;
        margin-bottom: 3rem;
    }

    #main-nav .header-btn {
        display: none;
    }

    #main-nav .navbar .nav-link:after{
        bottom: -1rem;
    }

}

@media (min-width: 768px) {
    #main-nav ul.navbar{
        display: flex;
    }

    #main-nav .btn-toggle,
    #main-nav ul.navbar.open{
        display: none;
    }
}

@media (max-width: 768px) {
    .showCase{
        flex-direction: column-reverse;
    }

    .rightSection,
    .leftSection{
        width: 100%;
        padding: 0;
    }

    .Why_Choose_EasyBank {
        margin-top: 0;
    }
    .rightSection{
        background-image: url('../images/bg-intro-mobile.svg');
        background-position: center;
        -webkit-background-size: cover;
        background-size: cover;
        padding: 0 0.5rem;
    }

    .rightSection img{
        top: -4rem;
        right: 0;
        width: 100%;
    }

    #main-nav ul.navbar{
        display: none;
    }

    #main-nav .navbar .nav-link:after{
        display: none;
    }
    #main-nav .btn-toggle{
        display: block;
    }

    .leftSection{
        text-align: center;
    }
    .leftSection h1.leftSection-mainText {
        margin-top: 0;
    }

    .leftSection p.leftSection-subText {
        padding: 0 1rem;
    }

    .latestArticles,
    .Why_Choose_EasyBank .innerSection{
        padding-left: 0;
        padding-right: 0;
    }

    .Why_Choose_EasyBank .innerSection {
        text-align: center;

    }

    .innerSection p.description{
        width: 100%;
    }

    .main-footer .innerFooter,
    .innerFooter .innerFooter-left{
        flex-direction: column;
        text-align: center;

    }

    .innerFooter .innerFooter-left{
        margin: 0 auto;
    }

    .innerFooter .social-wrapper{
        margin-top: 1.875rem;
        margin-bottom: 2.1875rem;
    }

    .footer-nav ul .nav-link{
        margin-bottom: 1.25rem;
        display: inline-block;
    }

    .innerFooter-right .header-btn{
        width: 60%;
        margin: 0 auto 1.875rem;
    }
    .attribution {
        left: 15%;
        right: 15%;
    }
}