$color-primary-blue : hsl(223, 87%, 63%);
$color-secondary-blue: hsl(223, 100%, 88%);
$color-secondary-lightRed: hsl(354, 100%, 66%);

$color-gray: hsl(0, 0%, 59%);
$color-darkBlue : hsl(209, 33%, 12%);

$fontSize : 20px;